@import 'tailwindcss';
@import './typography.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-inter);
}

html.dark {
  background-color: #1a1818;
  color: #f7fafc;
}
